.cabecalho-moda {
background-color: #BB86FC;
}

.cabecalho-casa{
background-color: #00C4B4;

}

.cor-valores{
    background-color: #424250;
}

.cor-letras{
    color: aliceblue;
    font-size: 2em
    
}

td {
    padding: 10px;
}

th {
    padding: 10px;
}